<div class= "row">

  <!--「投稿する＋エリア・都道府県から記事を検索する」の部分テンプレート（左側 col-2）ここから------------>
  <%= render 'public/articles/list', japan_prefectures: @japan_prefectures, japan_areas: @japan_areas %>
  <!--「投稿する＋エリア・都道府県から記事を検索する」の部分テンプレート（左側 col-2）ここまで------------>

  <!--（右側全体）ここから------------>
  <div class= "col-10">
  </br>
  <%= link_to "<< 前のページに戻る", 'javascript:history.back()' %>
  </br>

<div style="text-align:center;">
</br>
<p class="text-primary">特別じゃなくていい。</p>
<p class="text-primary">すぐ近くにある、地域の魅力を発信しよう。</p>

<%= image_tag 'apples_top4', size: "600x400" %>
</br>
</br>
<p class="text-primary">それは 誰かにとっての特別になるかもしれない。</p>
<p class="text-primary">みんなのちからで街を、日本を、興そう。</p>
</div>