<div style="text-align:center;">
</br>
<p>特別じゃなくていい。</p>
<p>すぐ近くにある、地域の魅力を発信しよう。</p>

<%= image_tag 'apples', size: "600x400" %>
</br>
</br>
<p>それは 誰かにとっての特別になるかもしれない。</p>
<p>みんなのちからで街を、日本を、興そう。</p>
</div>