<!-- メインビジュアル -->
<div class="py-4">
  <div class="container">
    <!-- カルーセル外枠 -->
    <div id="main_visual" class="carousel slide" data-bs-ride="carousel">
      <!-- インジケーター -->
      <ol class="carousel-indicators">
        <li data-bs-target="#main_visual" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#main_visual" data-bs-slide-to="1"></li>
        <li data-bs-target="#main_visual" data-bs-slide-to="2"></li>
      </ol>
      <!-- / インジケーター -->
      <!-- カルーセル内枠 -->
      <div class="carousel-inner">
        <!-- スライド01 -->
        <div class="carousel-item active">
          <%= image_tag 'apples.jpg', class: "img-fluid", alt: "りんご写真" %>
          <div class="carousel-caption d-none d-md-block">
            <h2>ふるさとアンバサダー</h2>
            <p>あなたも、今日から観光大使。</p>
          </div>
        </div>
        <!-- / スライド01 -->
        <!-- スライド02 -->
        <div class="carousel-item">
          <%= image_tag 'apples.jpg', class: "img-fluid", alt: "りんご写真" %>
          <div class="carousel-caption d-none d-md-block">
            <h2>特別じゃなくていい。</h2>
            <p>すぐ近くにある、地域の魅力を発信しよう。</p>
          </div>
        </div>
        <!-- / スライド02 -->
        <!-- スライド03 -->
        <div class="carousel-item">
          <%= image_tag 'apples.jpg', class: "img-fluid", alt: "りんご写真" %>
          <div class="carousel-caption d-none d-md-block">
            <h2>それは 誰かにとっての特別になるかもしれない。</h2>
            <p>みんなのちからで街を、日本を、興そう。</p>
          </div>
        </div>
        <!-- / スライド03 -->
      </div>
      <!-- / カルーセル内側 -->
      <!-- コントローラー -->
      <a class="carousel-control-prev" href="#main_visual" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">前に戻る</span>
      </a>
      <a class="carousel-control-next" href="#main_visual" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">次に進む</span>
      </a>
      <!-- / コントローラー -->
    </div>
    <!-- / カルーセル -->
  </div>
</div>
<!-- / メインビジュアル -->