<h5>管理者トップページ</h5>
</br>
・全投稿一覧</br>
  投稿詳細／投稿削除</br>
  ユーザー詳細／編集／退会処理</br>
</br>
・コメント一覧</br>
  コメント詳細／投稿削除</br>
  ユーザー詳細／編集／退会処理</br>
</br>
・ユーザー一覧</br>
  ユーザー詳細／編集／退会処理</br>
</br>
・地域管理</br>
  <%= link_to "エリア追加／管理", admin_japan_areas_path %></br>
  <%= link_to "都道府県追加／管理", admin_japan_prefectures_path %>