</br>
<h5>&emsp;通知</h5>

&emsp;
<%= link_to destroy_all_notifications_path, method: :delete do %>
  <i class="fas fa-trash" style="color: black;"></i>
  <h7 style="color: black;">すべての通知を削除</h7>
<% end %>

</br>
</br>

<% if @notifications.exists? %>
  <div class="users-index">
    <%= render @notifications %>
  </div>
<% else %>
  <p>通知はありません</p>
<% end %>